@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <img src="~/Content/Site/imgs/customers.png" class="img-responsive center-block"/>
        </div>
        <div class="col-md-8">
            <h1>Get Customers</h1>
            <p>Expand your reach risk free
            while maximizing your ROI.</p>
            @Html.ActionLink("Join Now", "Register", "Account", null, new { @class = "btn btn-primary btn-lg"})
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <img src="~/Content/Site/imgs/sales.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-8">
            <h1>Make Money</h1>
            <p>
                Earn more with access to our top
                converting campaigns.
            </p>
            @Html.ActionLink("Join Now", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</div>