@model AffiliateNetwork.Web.Models.PageDetailsViewModel

@{
    ViewBag.Title = "Page Details";
}

<div class="row">
    <div class="col-md-12">
        <h3>@Model.Title</h3>
        <div class="bs-component">@Model.Content</div>
    </div>
</div>