@model AffiliateNetwork.Models.InfoPage

@{
    ViewBag.Title = "Delete";
}
<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to delete this page?</h3>
    </div>
</div>

@Html.Partial("_DetailsPartial")

@Html.Partial("_DeleteGroupPartial")
