@model AffiliateNetwork.Models.InfoPage

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        <h3>Page Details</h3>
    </div>
</div>


@Html.Partial("_DetailsPartial")

@Html.EditButton(Model.Id)
@Html.SuccessButton("Back to List", "Index")