@model IList<AffiliateNetwork.Web.Areas.Administration.Models.ViewModels.BannersListViewModel>

@foreach (var banner in Model)
{
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive center-block" src="~/Content/Banners/@banner.BannerImage" alt="@banner.CampaignTitle" />
            <br />
            <p>Copy the code below and paste to your site!</p>
            <textarea rows="4" class="form-control">@banner.BannerCode</textarea>
            <hr />
        </div>
    </div>
}
